*, *::before, *::after {
    box-sizing: unset!important;
}

.toggle {
  background-color: #e9790b;
  text-align: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  top: var(--y);
  left: var(--x);
}

.fa-plus{
  font-size: 30px;
  color: white;
  display: block;
  margin-top: 11px;
  transition: 0.7s;
}

.menu {
  background-color: #ffffff6b;
  height: 100px;
  width: 100px;
  transform: scale(0);
  border-radius: 50%;
  border-style: double;
  border-color: #e9790b;
  position: absolute;
  top: var(--y);
  left: var(--x);
  z-index: -1;
  transition: 0.7s;
}

a {
  display: inline-block;
  position: absolute;
  font-size: 15px;
  color: #1e7e34!important;
}

a:nth-child(1){
  top: 6px;
  left: 46px;
}

a:nth-child(2){
  top: 24px;
  left: 77px;
}

a:nth-child(3){
  top: 58px;
  left: 76px;
}

a:nth-child(4){
  top: 78px;
  left: 45px;
}

a:nth-child(5){
  top: 58px;
  left: 10px;
}

a:nth-child(6){
  top: 23px;
  left: 12px;
}

a:hover {
  color: #0f3f1a!important;
}
